* {
  font-family: Verdana;
  background-color: black;
  text-align: center;
}

h1 {
  font-weight: 300;
  font-size: 42px;
  color: white;
}

p {
  font-size: 21px;
  color: gray;
}

.header {
  font-weight: normal;
  font-size: 50px;
}

.copyright {
  text-align: right;
}

.top p {
  color: aquamarine;
  font-size: 16px;
}
